<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title><%- dashboard.name %></title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

    <!-- vendors -->
    <link rel="stylesheet" href="/css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendors/all.min.css">
    <link rel="stylesheet" href="/css/vendors/jquery.mCustomScrollbar.min.css">
    <!-- overdrive -->
    <link rel="stylesheet" href="/css/overdrive/overdrive.css">
    <link rel="stylesheet" href="/css/dashboard/dashboard.css">
    <link rel="stylesheet" href="/css/dashboard/navbar.css">
    <link rel="stylesheet" href="/css/dashboard/sidebar.css">
    <link rel="stylesheet" href="/css/dashboard/components.css">
</head>

<body>
    <div class="page-wrapper default-theme sidebar-bg bg1 toggled">

        <!-- Sidebar -->
        <%- include('sidebar', {dashboard}); %>

        <!-- page-content  -->
        <main class="page-content">

            <!-- Navbar -->
            <%- include('navbar', {dashboard}); %>

            <div id="overlay" class="overlay"></div>
            <div class="container-fluid p-3">

                <%- include(view) %>

            </div>
        </main>
        <!-- page-content" -->

        <!-- logout modal -->
        <%- include ('components/logout') %>

    </div>
    <!-- page-wrapper -->

    <!-- vendors -->
    <script src="/js/vendors/jquery.min.js"></script>
    <script src="/js/vendors/popper.min.js"></script>
    <script src="/js/vendors/bootstrap.min.js"></script>
    <script src="/js/vendors/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- overdrive -->
    <script src="/js/dashboard/dashboard.js"></script>
    <script src="/js/overdrive/datatable.js"></script>
    <script src="/js/overdrive/inspector.js"></script>
</body>

</html>